<h1 class='main_title'>今日の学習時間</h1>
<article class='l_container'>
  <section class='m_container new'>
    <%= form_for @count_time do |f| %>
      <%= f.number_field :count_hour, step: '0.1', class:'input_form' %>
      <%= f.submit '登録', class:'btn-primary' %>
    <% end %>
  </section>
</article>