<h2 class="progress_title">今週の進捗</h2>
<div class="progress" style="height: 20px;">
  <div id="answer_progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    <%= controller.percent_in_week.round(1) %>%
  </div>
</div>
<div class="progress_percent_in_week">
  <a class="progress_a_week_counts"><%= controller.this_week_counts %>時間</a>
  あなたの進捗は<%=  controller.percent_in_week.round(1) %>パーセントです。
</div>