<% @start_day.each do |start_day| %>
  <div class='section'>
    <h3>あなたの学習開始日</h3>
    <h5>
      <%= start_day.start_day.strftime("%Y年%m月%d日") %>
    </h5>
  </div>
  <div class='section'>
    <h3>積み上げた日数</h3>
    <h5>
      <%= (Date.today - start_day.start_day.to_date).to_i %>日
    </h5>
  </div>
<% end %>
<div class='section'>
  <h3>トータル学習時間</h3>
  <h5><%= @count_hour.to_f %>時間</h5>
</div>