<div class="stop_watch">
  <div id="clock"> 00:00:00</div>
  <form>
    <input type="button" id="start"  class="btn btn-success" value="Start">
    <input type="button" id="stop" class="btn btn-secondary" value="Stop" disabled>
    <input type="button" id="restart" class="btn btn-info" value="Restart" disabled>
    <input type="button" id="reset" class="btn btn-danger" value="Reset" disabled>
  </form>
</div>