<main>
  <% if signed_in? %>

    <article class='l_container'>
      <section class='m_container'>
        <%= render 'users/section' %>
        <%= render 'users/table' %>
      </section>
    </article>
    <aside class='m_container_right'>
      <%= render 'users/aside' %>
    </aside>

  <%else %>

    <h1>あなたの学習時間</h1>
    <div class='button_section before_login'>
      <button class='user_btn'>
        <%= link_to 'ログイン', user_session_path, class:'user_link' %>
      </button>
    </div>

  <% end %>
</main>