article.l_container {
  section.m_container {
    margin: 20px auto;
    padding: 10px 0 20px 0;
    width: 300px;
    height: auto;
    background: white;
    border-radius: 8px;
    .section {
      text-align: center;
      &__title {
      }
      &__time {
        font-size: 18px;
      }
    }
    table {
      border-collapse: collapse;
      margin: 0 auto;
    }
    td {
      border: solid 1px;
      padding: 0.5em;
      font-weight: bold;
    }
  }
  .m_container.new {
    background: #eee;
    .input_form {
      margin: 0 30px;
      height: 30px;
      border: 1px solid gray;
      border-radius: 4px;
    }
    .input_submit {
      height: 35px;
      border: 1px solid gray;
      border-radius: 4px;

    }
  }
}