.button_section {
  display: block;
  button.register_btn {
    width: auto;
    height: 50px;
    border-radius: 8px;
    background: skyblue;
    border: none;
    .register_link {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
  }
  button.user_btn {
    margin: 20px auto;
    display: block;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    background: #fff;
    .user_link {
      text-decoration: none;
    }
  }
}
.before_login {
  margin: 10px 20px;
}