<div class='button_section'>
  <button class='register_btn'>
    <% if @start_day.any? %>
      <%= link_to '今日の学習時間を登録', new_count_time_path, class:'register_link' %>
    <% else %>
      <%= link_to '学習開始日の登録', new_start_day_path, class:'register_link' %>
    <% end %>
  </button>
  <button class='user_btn'>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'user_link' %>
  </button>
</div>