<div class='section'>
  <h2 class='section__title'>昨日までの学習時間</h2>
  <table>
    <tr>
      <th>日付</th>
      <th>時間</th>
    </tr>
    <% @count_time.each do |count_time| %>
      <tr>
        <td><%= count_time.created_at.to_date %></td>
        <td><%= count_time.count_hour.to_f %>時間</td>
      </tr>
    <% end %>
  </table>
</div>